<% if @out_of_money && @event %>
  <div id="event_finished" class="reveal-modal" data-reveal>
      <h2 style="color: #000;"><%= @event[:description] %> It cost you $<%= @event[:cost] %>! Now you're out of money!</h2>
      <%= link_to "Wrap it up", finished_path(session_id: @session[:id]) %>
  </div>
  <%= javascript_tag do %>
    $(function() {
      $("#event_finished").foundation("reveal", "open", {dismiss_modal_class: "close-reveal-modal"});
    });
  <% end %>
<% elsif @out_of_money %>
  <div id="out-of-money" class="reveal-modal" data-reveal>
    <h2 style="color: #000;">You're out of money. EPIC FAIL</h2>
    <%= link_to "Wrap it up", finished_path(session_id: @session[:id]) %>
  </div>
  <%= javascript_tag do %>
    $(function() {
      $("#out-of-money").foundation("reveal", "open");
    });
  <% end %>
<% elsif @event %>
  <div id="event" class="reveal-modal" data-reveal>
      <h2 style="color: #000;"><%= @event[:description] %> It cost you $<%= @event[:cost] %>!</h2>
    <a class="close-modal" onclick="$('#event').foundation('reveal', 'close')">Continue</a>
  </div>
  <%= javascript_tag do %>
    $(function() {
      $("#event").foundation("reveal", "open", {dismiss_modal_class: "close-reveal-modal"});
    });
  <% end %>
<% end %>
<div class="small-12 medium-8">
  <div class="small-12 columns radius" id="map">
  </div>
</div>
<div class="small-6 medium-4 columns" id="status">
  <div class="small-12 columns panel radius" id="trip-status">
    <h4 class="text-center">Trip Status</h4>
    <hr />
      <div id="money">
        <h6>Money</h6>
        <div class="progress radius">
            <span class="meter" style="width:<%= @money_percent %>%;background:green"></span>
        </div>
        <h6>$<%= @session[:money] %></h6>
      </div>
      <div id="progress">
        <h6>Progress</h6>
        <div class="progress radius">
            <span class="meter" style="width:<%= @progress_percent %>%;"></span>
        </div>
        <h6><%= @session[:total_miles] - @session[:miles_remaining] %> / <%= @session[:total_miles]  %> mi.</h6>
        <h6>Environmental Impact: <%= @session[:environment] %></h6>
      </div>
  </div>
  <div class="small-12 columns panel radius" id="planet-status" style="display:none;">
    <h4 class="text-center">Planet Status</h4>
    <hr />
    <div class="meter-container small-4 columns">
      <div class="progress radius">
        <span class="meter"></span>
      </div>
    </div>
    <div class="meter-container small-4 columns">
      <div class="progress radius">
        <span class="meter"></span>
      </div>
    </div>
    <div class="meter-container small-4 columns">
      <div class="progress radius">
        <span class="meter"></span>
      </div>
    </div>
  </div>
</div>
<div class="small-12 medium-8 columns panel left" id="questions">
  	<p> <%= @choice[:description] %>
	<%= form_tag("/choices", method: "post") do %>
	  <%= hidden_field_tag :session_id, @session[:id]%>
	  <% @choice[:options].each do |option| %>
          <% disabled = true if option[:outcome][:cost] and @session[:money] < option[:outcome][:cost] %>
          <% description = option[:description]  %>
          <% description += " ($#{option[:outcome][:cost]})" if option[:outcome][:cost]%>
          <% description += " (you don't have enough money!)" if disabled  %>
          <%= label_tag "option_#{option[:id]}", {for: 'option_id_' + option[:id].to_s} do %>
              <%= radio_button_tag :option_id, option[:id], false, required: true, disabled: disabled %>
              <% if option[:environmental_impact_description]  %>
                <span data-tooltip class="has-tip" title="<%= option[:environmental_impact_description]  %>">
              <% end %>
              <%= description %>
              <% if option[:environmental_impact_description]  %>
                </span>
              <% end %>
          <% end %>
	    <br/>
	  <% end %>
	  <%= submit_tag("Submit", {class: "button red radius right"}) %>
	<% end %>
</div>
<script>
	//get the map from MapBox
	var mapboxTiles = L.tileLayer('https://{s}.tiles.mapbox.com/v3/jcmorrow.ih0mmobh/{z}/{x}/{y}.png', {
	  attribution: '<a href="http://www.mapbox.com/about/maps/" target="_blank">Terms &amp; Feedback</a>'
	});

	//oriDomi because WHY THE FUCK NOT?!
	//setTimeout(function(){var foldedMap = new OriDomi(document.getElementById('map'));}, 2000);
	//foldedMap.foldUp();

	var currentPosition = [window.session.pending_choices[0].location.lat, window.session.pending_choices[0].location.long];
	//initialize the map in the #map div
	var map = L.map('map', {scrollWheelZoom:false, doubleClickZoom:false, boxZoom:false, touchZoom:false, keyboard:false, dragging:false})
	  .addLayer(mapboxTiles)
	  .setView(currentPosition, 8);
	//new leaflet icon
	var sessionIcon = L.divIcon({className:'session-icon'});
	//make new instance of that icon and add it to the map
	var sessionMarker = L.marker(currentPosition, {icon:sessionIcon}).addTo(map);
	//Change the session icon color and add the session's name to it.
	$('.session-icon').append('<span style="position:relative;bottom:-10px;left:-10px;">'+window.session.name+'</span>');
	$('.session-icon').css('color', window.session.color)
	$('.session-icon').css('background-color', window.session.color)
	//empty array to push bootstrapped rails data into
	var destination_coords = [];
	//pass those in, as LatFuckingLngs no less.
	$.each(window.session.completed_choices, function(index, choice)
	{
		destination_coords.push(L.latLng([choice.location.lat, choice.location.long]));
	});
	destination_coords.push(L.latLng(currentPosition));
	//make the path
	var path = L.polyline(destination_coords, {color:'#661111', opacity:'.8'}).addTo(map);
</script>
