<div class="small-12 medium-8">
  <div class="small-12 columns radius" id="map">
  </div>
</div>
<div class="small-6 medium-4 columns" id="status">
  <div class="small-12 columns panel radius" id="trip-status">
    <h4 class="text-center">Trip Status</h4>
    <hr />
      <div id="money">
        <h6>Money</h6>
        <div class="progress radius">
            <span class="meter" style="width:<%= @money_percent %>%;background:green"></span>
        </div>
        <h6>$<%= @player[:money] %></h6>
      </div>
      <div id="progress">
        <h6>Progress</h6>
        <div class="progress radius">
            <span class="meter" style="width:<%= @progress_percent %>%;"></span>
        </div>
        <h6><%= @player[:miles_remaining] %> mi.</h6>
      </div>
  </div>
  <div class="small-12 columns panel radius" id="planet-status" style="display:none;">
    <h4 class="text-center">Planet Status</h4>
    <hr />
    <div class="meter-container small-4 columns">
      <div class="progress radius">
        <span class="meter"></span>
      </div>
    </div>
    <div class="meter-container small-4 columns">
      <div class="progress radius">
        <span class="meter"></span>
      </div>
    </div>
    <div class="meter-container small-4 columns">
      <div class="progress radius">
        <span class="meter"></span>
      </div>
    </div>
  </div>
</div>
<div class="small-12 medium-8 columns panel left" id="questions">
  	<p> <%= @choice[:description] %>
	<%= form_tag("/choices", method: "post") do %>
	  <%= hidden_field_tag :player_id, @player[:id]%>
	  <% @choice[:options].each do |option| %>
          <% disabled = true if option[:outcome][:cost] and @player[:money] < option[:outcome][:cost] %>
          <%= radio_button_tag :option_id, option[:id], false, required: true, disabled: disabled %>
	    <%= label_tag("option_#{option[:id]}", option[:description]) %>
	    <br/>
	  <% end %>
	  <%= submit_tag("Submit") %>
	<% end %>
</div>
<script>
  // Replace 'examples.map-i87786ca' with your map id.
  var mapboxTiles = L.tileLayer('https://{s}.tiles.mapbox.com/v3/jcmorrow.ih0mmobh/{z}/{x}/{y}.png', {
      attribution: '<a href="http://www.mapbox.com/about/maps/" target="_blank">Terms &amp; Feedback</a>'
  });

  var map = L.map('map', {scrollWheelZoom:false, doubleClickZoom:false, boxZoom:false, touchZoom:false, keyboard:false, dragging:false})
      .addLayer(mapboxTiles)
      .setView([37.7833, -122.4167], 8);
  var playerIcon = L.divIcon({className:'player-icon'});
  var playerMarker = L.marker([37.7833, -122.4167], {icon:playerIcon}).addTo(map);




  destinations = [L.marker([37.7833, -122.4167]), L.marker([36.1215, -115.1739]), L.marker([39.7392, -104.9847]), L.marker([41.8819, -87.6278]), L.marker([40.2697, -76.8756])]
  var destination_coords = [];
  $.each(destinations, function(index, destination)
  {
  	destination_coords.push([destination.getLatLng().lat, destination.getLatLng().lng]);
  });
  var path = L.polyline(destination_coords, {color:'#661111', opacity:'.8'});
  path.addTo(map);
</script>
