<div class="small-12 medium-7 columns">
	<% if @parent_session.nil? %>
	<div class="small-12 panel radius">
		<h1 class="text-center">Create Your player!</h1>
		<%= form_tag("/games", method: "post") do %>
          <%= hidden_field_tag :parent_session_id, @parent_session_id %>
		  <div class="small-9 columns">
		  	<%= label_tag(:session_name, "Player Name") %>
		  	<%= text_field_tag(:session_name) %>
		  </div>
		  <div class="small-3 columns">
			  <%= label_tag(:session_color, "Car Color") %>
			  <%= text_field_tag(:session_color, "#FFFFFF") %>
		  </div>
		  <div class="text-center"><%= submit_tag("Hit the Road!", {class: "button red radius"}) %></div>
		<% end %>

	<% else %>
	<div data-alert class="alert-box warning radius text-center">
	<% year = 2014 + (@parent_session[:iteration])*20 %>
	  <h3>Time Travel Alert!</h3>
	  <p>The year is now <%= year %> and your descendants are doing the same trip that you did back in 2014. Keep an eye out for changes and question mark icons where you can learn more about why these changes happened.</p>
	  <p>For the sake of comparison, your previous choices will be underlined.</p>
	  <a href="#" class="close">&times;</a>
	</div>
	<div class="small-12 panel radius">
		<h1 class="text-center">Generation <%= @parent_session[:iteration]+1 %>!</h1>
		<%= form_tag("/games", method: "post") do %>
          <%= hidden_field_tag :parent_session_id, @parent_session_id %>
		  <div class="small-12 columns">
		  	<p class="text-center">Name: <%= @parent_session[:name] %> <%= 'I'*(@parent_session[:iteration]+1) %></p>
		  </div>
		  <div class="text-center"><%= submit_tag("Hit the Road!", {class: "button red radius"}) %></div>
		<% end %>
	<% end %>
	</div>
</div>
<div class="small-12 medium-5 columns">
	<div class="small-12 panel radius">
		<ul>
			<li>Starting Location: San Francisco, CA</li>
			<li>Ending Location: New York, NY</li>
			<li>Total Distance: 3,725 mi.</li>
			<li>Starting money: $1,000</li>
		</ul>
	</div>
</div>
<script>
	$("#session_color").spectrum({
	    color: "#fff"
	});
</script>
