<!DOCTYPE html>
<html>
<head>
  <title>An Inconvenient App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lemon' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
</head>
<body>
<%= javascript_tag do %>
  window.session = <%= raw @session.to_json if @session%>
<% end %>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">An Inconvenient App</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="#"><span><%= @player[:name] if @player %></span></a></li>
    </ul>
  </section>
</nav>
<div class="row" id="content">

	<%= yield %>

</div>
<div class="footer">
  <div class="row">
  <p>A product of <a href="http://hacksummit.com/">HackSummit</a>. Made through the efforts of a sleep-deprived, pizza and red-bull driven, disconcertingly gigglish team.</p>
  <p><a href="https://github.com/slb350/hacksummit">Fork me on Github</a></p>
  </div>
</div>
<script type="text/javascript">
  window.heap=window.heap||[];heap.load=function(a){window._heapid=a;var b=document.createElement("script");b.type="text/javascript",b.async=!0,b.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d=function(a){return function(){heap.push([a].concat(Array.prototype.slice.call(arguments,0)))}},e=["identify","track"];for(var f=0;f<e.length;f++)heap[e[f]]=d(e[f])};
  heap.load("39326187");
</script>
</body>
</html>
